html{
	background-image: url('../img/bg.png');
	overflow: hidden;
}
body{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100vh;
	overflow: hidden;
		/*
background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#container{
	width: 960px;
	margin: 0 auto;
}
#player_links{
	height: 100px;
}
#player_links a{
	display: block;
	float: left;
	height: 100%;
	width: 188px;
	margin-right: 5px;
	background-color: rgba(0,0,0,.8);
	opacity: .6;
	color: white;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
}
#player_links a:last-child{
	margin-right: 0;
}
#player_links a:hover{
	background-color: rgba(0,0,0,.3);
}

#player_info{
	clear: both;
	float: left;
	width: 480px;
	margin-top: 5px;
	background-color: rgba(0,0,0,.5);
	overflow: hidden;
}
#player_info img{
	float: right;
}
h1{
	margin: 0;
	padding: 12px 0 0 12px;
	color: white;
}

#player_stats{
	float: right;
	width: 475px;
	height: 307px;
	margin-top: 5px;
	background-color: rgba(0,0,0,.5);
}
#player_stats .odd{
	background-color: rgba(0,0,0,.2);
}
h2{
	margin: 0;
	padding: 0 12px;
	color: #837F78;
	height: 61px;
	line-height: 61px;
	font-weight: 200;
}
strong{
	color: #870417;
}

